*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

$celadon-blue: hsla(198, 63%, 38%, 1);
$green-sheen: hsla(170, 40%, 60%, 1);
$turquoise-green: hsla(139, 36%, 78%, 1);
$cream: hsla(71, 100%, 87%, 1);
$radical-pink: hsla(344, 100%, 54%, 1);
$colorWhite: #ffffff;
$gray: #a9a9a9;

$t: 0.3s;
$radius: 3px;
.App {
  max-width: 1000px;
  margin: 0 auto;
  background: $colorWhite;
  padding: 30px;
  min-height: 100vh;
  box-shadow: 0 0 10px 5px rgba($gray, 0.5);
}

.title {
  text-align: center;
  margin-bottom: 30px;
}
.subtitle {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.menu {
  margin-bottom: 30px;
  position: relative;
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 -20px -20px;
  }
  &__item {
    margin: 0 0 20px 20px;
    a {
      text-decoration: none;
      color: $colorWhite;
      font-weight: 600;
      display: inline-block;
      padding: 5px 10px;
      background: $green-sheen;
      transition: background $t;
      border-radius: $radius;
    }
    &:hover a {
      background: darken($green-sheen, 10%);
    }
  }
}
.basket {
  position: absolute;
  right: 0;
  display: inline-block;
  top: 0;
}

.login {
  .form {
    margin: 0 auto;
  }
}

.cms {
  position: relative;
}

.intro {
  margin-bottom: 20px;
}

.kitten {
  //   &__img {
  //     background: $colorWhite;
  //     padding: 15px;
  //     border-radius: $radius;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //   }
}

.btn-logout {
  position: absolute;
  top: 0;
  right: 0;
}

.form {
  margin-bottom: 30px;
  &__item {
    margin-bottom: 20px;
  }
}

input {
  border: none;
  padding: 5px 10px 5px 0;
  outline: none;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $green-sheen;
  transition: border-color $t;
  &:focus,
  &:active {
    border-color: $radical-pink;
    background-color: $colorWhite;
  }
}

label {
  display: block;
  text-align: left;
  font-size: 12px;
  color: $green-sheen;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
