*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  padding: 20px;
  background: hsla(174, 100%, 41%, 0.5);
}

table {
  clear: both;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
}
